{% extends 'main.html' %}

{% block title %}
Facebook Post
{% endblock title %}

{% block content %}

<section id="page-header">
    <div class="row current-cat">
        <div class="col-full">
            <h1>Facebook Posts</h1>
        </div>
    </div>
</section>

<!-- content
   ================================================== -->

<section id="content-wrap" class="blog-single">

    <div class="row">
        <div class="col-twelve">
            <article class="format-gallery">

                <div class="primary-content">
                    <ul class="entry-meta">
                        <li class="date">{{post.name}}</li>
                        <li class="cat"><a>{{post.posted_on}}</a><a href="{{post.post_url}}">Original Post.</a>
                        </li>
                    </ul>

                    {% if keywords %}
                    <p class="tags">
                        <span>Keywords :</span>
                        {% for keyword in keywords %}
                        <a>{{keyword}}</a>
                        {% endfor %}
                    </p>
                    {% endif %}

                    <p class="lead">From: {{post.name}}.</p>
                    <p>{{post.content|linebreaks}}</p>

                    <div class="row half-bottom">
                        <div class="col-twelve">
                            <h3>Reactions Count: {{post.reaction_count}}.</h3>
                            <ul class="stats-tabs">
                                {% if post.likes %}
                                <li><a>{{post.likes}}<em>Like</em></a></li>
                                {% endif %}

                                {% if post.loves %}
                                <li><a>{{post.loves}}<em>Love</em></a></li>
                                {% endif %}

                                {% if post.wow %}
                                <li><a>{{post.wow}}<em>Wow</em></a></li>
                                {% endif %}

                                {% if post.sad %}
                                <li><a>{{post.sad}}<em>Sad</em></a></li>
                                {% endif %}

                                {% if post.angry %}
                                <li><a>{{post.angry}}<em>Angry</em></a></li>
                                {% endif %}

                                {% if post.haha %}
                                <li><a>{{post.haha}}<em>Haha</em></a></li>
                                {% endif %}

                                {% if post.cares %}
                                <li><a>{{post.cares}}<em>Cares</em></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div> <!-- end row -->

                    <div class="row half-bottom">
                        <div class="col-twelve">
                            <h3>Shares Count: {{post.shares}}.</h3>
                        </div>
                    </div> <!-- end row -->

                    <div class="row half-bottom">
                        <div class="col-twelve">
                            <h3>Comments Count: {{post.comments}}.</h3>
                        </div>
                    </div> <!-- end row -->

                </div> <!-- end entry-primary -->


            </article>


        </div> <!-- end col-twelve -->
    </div> <!-- end row -->



    {% comment %}

    <div class="comments-wrap">
        <div id="comments" class="row">
            <div class="col-full">

                {% if len == 0 %}
                <h3>There are no comments</h3>
                {% else %}
                <h3>{{len}} comment{{len|pluralize:"s"}}</h3>
                <!-- commentlist -->
                {% for comment in comments %}

                <ol class="commentlist">
                    <li class="depth-1">
                        <div class="avatar">
                            <img width="50" height="50" class="avatar" src="{% static 'images/logo.png' %}" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="comment-info">
                                <cite>{{comment.name}}</cite>
                                <div class="comment-meta">
                                    <time class="comment-time" datetime="2014-07-12T23:05">{{comment.created_on}}</time>
                                    <span class="sep">/</span><a class="reply">{{comment.email}}</a>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p>{{comment.body}}</p>
                            </div>
                        </div>
                    </li>
                </ol> <!-- Commentlist End -->
                {% endfor %}
                {% endif %}

                <!-- respond -->
                <div class="respond">
                    <h3>Leave a Comment</h3>
                    <form name="contactForm" id="contactForm" method="post" action="">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                            <!-- Input:Text -->
                            <div class="form__field">
                                <label for="formInput#text">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% endfor %}
                            <button type="submit" class="submit button-primary">Submit</button>

                        </fieldset>
                    </form> <!-- Form End -->

                </div> <!-- Respond End -->

            </div> <!-- end col-full -->
        </div> <!-- end row comments -->
    </div> <!-- end comments-wrap -->

    {% endcomment %}

</section> <!-- end content -->

{% endblock content %}